.callout {
  --callout-color: 100, 100, 100;

  background-color: rgba(var(--callout-color), 0.1);
  border-left-color: rgb(var(--callout-color));
}

.callout-title {
  color: rgb(var(--callout-color));

  strong {
    color: rgb(var(--callout-color));
  }
}

.callout-icon svg {
  stroke: currentColor;
}

[data-callout="note"] {
  --callout-color: 2, 122, 255;
}

[data-callout="abstract"] {
  --callout-color: 83, 223, 221;
}

[data-callout="summary"] {
  --callout-color: 83, 223, 221;
}

[data-callout="tldr"] {
  --callout-color: 83, 223, 221;
}

[data-callout="info"] {
  --callout-color: 2, 122, 255;
}

[data-callout="todo"] {
  --callout-color: 2, 122, 255;
}

[data-callout="tip"] {
  --callout-color: 83, 223, 221;
}

[data-callout="hint"] {
  --callout-color: 83, 223, 221;
}

[data-callout="important"] {
  --callout-color: 83, 223, 221;
}

[data-callout="success"] {
  --callout-color: 68, 207, 110;
}

[data-callout="check"] {
  --callout-color: 68, 207, 110;
}

[data-callout="done"] {
  --callout-color: 68, 207, 110;
}

[data-callout="question"] {
  --callout-color: 233, 151, 63;
}

[data-callout="help"] {
  --callout-color: 233, 151, 63;
}

[data-callout="faq"] {
  --callout-color: 233, 151, 63;
}

[data-callout="warning"] {
  --callout-color: 233, 151, 63;
}

[data-callout="attention"] {
  --callout-color: 233, 151, 63;
}

[data-callout="caution"] {
  --callout-color: 233, 151, 63;
}

[data-callout="failure"] {
  --callout-color: 251, 70, 76;
}

[data-callout="missing"] {
  --callout-color: 251, 70, 76;
}

[data-callout="fail"] {
  --callout-color: 251, 70, 76;
}

[data-callout="danger"] {
  --callout-color: 251, 70, 76;
}

[data-callout="error"] {
  --callout-color: 251, 70, 76;
}

[data-callout="bug"] {
  --callout-color: 251, 70, 76;
}

[data-callout="example"] {
  --callout-color: 168, 130, 255;
}

[data-callout="quote"] {
  --callout-color: 158, 158, 158;
}

[data-callout="cite"] {
  --callout-color: 158, 158, 158;
}
